certifi==2022.9.24
cffi
cycler
fonttools==4.25.0
future==0.18.2
kiwisolver
matplotlib
munkres==1.1.4
numpy
olefile==0.46
opencv-python
packaging
pandas
Pillow==6.2.1
ply==3.11
pycparser
pyparsing
PyQt5-sip==12.11.0
python-dateutil
sip
six
toml
torch
torchvision
tornado
tqdm
typing_extensions
